body {
    --primary-color: #1E3231;
    --secondary-color: #485665;
    --accent-color: #8E7C93;

    background-color: var(--primary-color);
}

body.seasonal-promo {
    --primary-color:#6B2737;
    --secondary-color: #E08E45;
    --accent-color: #F8F4A6;

    background-color: var(--primary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: .1fr repeat(3, 1fr) .1fr;
    grid-template-rows: .4fr .2fr .8fr 3fr;
    gap: .5em .2em;
    grid-template-areas: 
    ". a a a ."
    ". b b b ."
    ". c c c ."
    ". d d d .";
}

.categories {
    grid-area: a;    
}

.categories-list {
    display: flex; /*gets list in line*/
    list-style-type: none; /*removes bullets*/
    justify-content: space-around; /*centers full menu with spacing*/
}

.filter-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

img {
    max-width: 90%; /*set max width of all images*/
}

.filters {
    grid-area: b;
}

.promotions {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    grid-area: c;
    background-color: var(--secondary-color);
}

.offerings {
    grid-area: d;
    display: grid;
    grid-template-columns: repeat(6, .5fr);
    grid-template-rows: 1fr 1fr;
    gap: .2em;
}

